*{
    padding:0;
    font-size: 160%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    padding-top: 30%;
    padding-left: 3%;
}

h2{
    font-weight: 500;
}