*{
    padding:0px;
    margin:0px;
}
h1{
    margin: 20px;
    margin-left: 40px;
}
.main{
    border: solid 3px;
    padding:20px;
    margin: 0 auto;
    width:80%;
}

.container{
    margin:15px;
}